<article{{ attributes }} class="actor-teaser">
  <div class="actor-picture">
    {{ content.field_picture }}
  </div>
  
  {{ title_prefix }}
  <h4{{ title_attributes }}>
    {{ label }}
  </h4>
  {{ title_suffix }}
</article>
