<article{{ attributes.addClass('actor-filmography') }}>
  <div class=""
  <div class="movie-poster">
    {{ content.field_poster }}
  </div>
  
  {{ title_prefix }}
  <h4{{ title_attributes }}>
    {{ label }}
  </h4>
  {{ title_suffix }}
</article>